<div id="nav<%=cat.id%>" class="nav">
	<h1><%=cat.name%></h1>
	<ul>
	<% for(var i=0; i<wins.length; i++) {%>
	<li class="l">
	<div class="bar" style="display:none;">
		<a onclick="click_update(<%=wins[i].id%>)" href="javascript:void(0);">
			<img src="/css/update.png"/>
		</a>
		<a onclick="submit_delete(<%=wins[i].id%>)" href="javascript:void(0);">
			<img src="/css/delete.png"/>
		</a>
	</div>
	
	<div class="win">
		<div class="pic">
			<a href="javascript:void(0);">
				<img class="preview open" src="<%=wins[i].image%>" url="http://<%=wins[i].url%>" wid="<%=wins[i].id%>"/>
			</a>
		</div>
		<div class="info">
			<img class="icon" src="<%=wins[i].icon%>"/>
			<a href="javascript:void(0);">
				<span class="title open" url="http://<%=wins[i].url%>" wid="<%=wins[i].id%>"><%=wins[i].title%></span>
			</a><br>
			<a href="javascript:void(0);">
				<span class="url open" url="http://<%=wins[i].url%>" wid="<%=wins[i].id%>"><%=wins[i].url%></span>
			</a>
		</div>
	</div>
	</li>
	<% } %>
	</ul>
	<div class="c"></div>
</div>