<div id="nav<%=cat.id%>" class="nav">
	<h1><%=cat.name%></h1>
	<ul>
	<% for(var i=0; i<wins.length; i++) {%>
	<li class="l">
	<div class="bar" style="display: none;">
		<img src="/css/update.png">
		<a onclick="submit_delete(<%=wins[i].id%>)" href="javascript:void(0);">
		<img src="/css/delete.png">
		</a>
	</div>
	
	<div class="win">
		<div class="pic">
			<a target="_blank" href="http://<%=wins[i].url%>">
				<img class="preview" src="<%=wins[i].image%>"/>
			</a>
		</div>
		<div class="info">
			<img class="icon" src="<%=wins[i].icon%>"/>
			<a target="_blank" href="http://<%=wins[i].url%>">
				<span class="title"><%=wins[i].title%></span>
			</a><br>
			<a target="_blank" href="http://<%=wins[i].url%>">
				<span class="url"><%=wins[i].url%></span>
			</a>
		</div>
	</div>
	</li>
	<% } %>
	</ul>
	<div class="c"></div>
</div>